.control-pannel {
    width: 200px;
    background-color: #ded;
    border: 1px solid #232323;
    padding: 16px;
    box-sizing: border-box;
    h1 {
        color: cadetblue;
        text-align: center;
    }

}
