span {
    display: inline-block;
    border-left: 1px solid #888;
    width: 40px;
    height: 40px;
    background-color: #dedede;
    font-size: 10px;

    &:last-child {
        border-right: 1px solid #888;
    }
}