.row {
    white-space: nowrap;
    font-size: 0;
    width: auto;
    display: flex;
    & .cell {
        border-bottom: 1px solid #888;
    }
    &:first-child .cell {
        border-top: 1px solid #888;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    & .row-wrap {
        position: absolute;
    }
}


