.game-view-port {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    overflow: auto;
    border-radius: 4px;
    background-color: #686868;
}
.game-field-scroll-port {
    flex: 1;
    max-height: 100vh;
    overflow: auto;
    border-right: 1px solid #232323;
    position: relative;
}
.game-field {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}